.main {
    padding: 50px;
}

.sample {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    border: 1px solid green;
    padding: 30px;
}

.guest-btn {
    margin: 15px 0;
    font-size: 18px;
    line-height: 24px;
}

.add-guest {
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    color: #fff;
    border: none;
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}

[type="submit"] {
    color: #fff;
    width: 240px;
    height: 50px;
    text-align: center;
    border: none;
    margin-top: 15px;
    background-color: green;
    font-weight: bold;
}

button {
    margin-bottom: 20px;
}

.data {
    border: 1px solid #333;
    padding: 20px;

    & > ul {
        & > li {
            display: flex;
            border-bottom: 1px solid #333;
            padding: 5px 0 10px;
            margin-bottom: 15px;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
    }

    .key {
        min-width: 110px;
        font-weight: bold;
    }

    .vaule {

    }
}

.guests {
    display: flex;

    h4, .h4 {
        flex-shrink: 0;
        width: 200px;
        padding-right: 15px;
        font-size: 20px;
        font-weight: 700;
    }
}

table {
    width: 100%;
    margin-left: 20px;
    border-collapse: collapse;
    border: 1px solid black;
    empty-cells: show;

    td {
        border: 1px solid black;
        width: 50%;
        padding: 8px 10px;
        text-align: center;
    }
}

ul {

    li {
        margin-bottom: 20px;
        padding: 7px;
        border: 1px solid green;
    }
}


/*
.my-link {
    display: inline-block;
    position: relative;
    padding: 10px;
    
    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: #333;
        width: 2px;
        height: 0%;
        transition: height 0.5s;
    }

    &::before {
        bottom: 0;
        left: 0;
    }

    &::after {
        top: 0;
        right: 0;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: #333;
            width: 0%;
            height: 2px;
            transition: width 0.5s;
        }

        &::before {
            left: 0;
            top: 0;
        }

        &::after {
            right: 0;
            bottom: 0;
        }
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        stroke: #333;
        stroke-width: 4;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        transition: all 2s;
    }

    &:hover {

        &::before,
        &::after {
            height: 100%;
        }

        span {
            &::before,
            &::after {
                width: 100%;
            }
        }

        svg {
            stroke-dashoffset: 0;
        }
    }
}*/
